# dotfiles
.* export-ignore

# js tooling
package.json export-ignore
package-lock.json export-ignore
pnpm-lock.yaml export-ignore
jsconfig.json export-ignore
.nvmrc export-ignore
/node_modules export-ignore

# php tooling
composer.lock export-ignore
composer.json export-ignore
phpstan.neon export-ignore
pint.json export-ignore
/vendor export-ignore
/wp export-ignore

# tests and CI
/bin export-ignore
/tests export-ignore
/tools export-ignore
phpunit.xml.dist export-ignore

# misc
TODO export-ignore
CHANGELOG.md export-ignore
