includes:
    # - phpstan-baseline.neon

parameters:
    level: 5
    paths:
        - src
        - acf-multilingual.php
        - api.php
        - autoload.dist.php
    scanDirectories:
        - vendor
    ignoreErrors:
